<% include partials/header %>

<div class="container">
	<div class="jumbotron">
		<h1>Current Bills</h1>
		<a class="btn btn-primary btn-lg" href="/bills/new">Add New Bill</a>
	</div> <!-- end of jumbotron -->
	<div class="row">
	<% bills.forEach((bill) => { %>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">
						<%= bill.companyName %>
					</h4>
					<h5 class="card-subtitle mb-2 text-muted">
						<%= bill.typeOfBill %>
					</h5>
					<p class="card-text">
					Amount Due: $<%= bill.amountDue %>
					</p>
					<p class="card-text">
						Due Date: <%= bill.dueDate %>
					</p>
					<p>
						<a href="/bills/<%= bill._id %>" class="btn btn-primary">More Info</a>
					</p>
				</div> <!-- end of card-body -->	
			</div> <!-- end of card -->
		</div> <!-- end of col-md-4 -->
	<% }); %>
	</div> <!-- end of row -->
</div> <!-- end of container -->

	

<% include partials/footer %>