<% include partials/header %>

<div class="container">
	<h2><%= bill.companyName %></h2>
	<h4><%= bill.typeOfBill %></h4>
	<p>Account Number: <%= bill.accountNumber%></p>
	<p>Phone Number: <%= bill.phoneNumber%></p>
	<p>Website: <a href="<%= bill.website %>"><%= bill.website.substring(7) %></a></p>
	<p>
		<a class="btn btn-warning" href="/bills/<%= bill._id %>/edit">Edit Bill</a>
	</p>
	<form action="/bills/<%= bill._id %>?_method=DELETE" method="POST">
		<button class="btn btn-danger">Delete Bill</button>
	</form>
	<p>
		<a href="/bills">Go Back</a>
	</p>
</div> <!-- end of container -->

<% include partials/footer %>